# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Local databases
*.db
*.db.bak

# Google auth
token.json
client_secret.json
secrets/

# Tests coverage
.coverage
htmlcov/

# Node
node_modules/
.next/

# Env
.env
.env.local
*.env.swp
*.swp

# Logs
*.log
server.log

# Misc
.gitignore.save
